

/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: green;
    padding: 10px;
    display: flex;
}

header img {
    width:50px;
    height:50px;
    border-radius: 20px;
    margin-right: 40px;
}


header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}


header nav a {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    margin-right: 20px; /* Ajoute un espacement à droite pour chaque lien (ajustez selon vos besoins) */
    font-weight: bold;
}

header nav a:hover {
    border-bottom: 2px solid white; 
    
}



/* Style pour le bouton menu mobile */
.mobile-menu-toggle {
    display: none; /* Masquer le bouton menu mobile par défaut */
    background: none;
    padding-left: 350px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.mobile-menu-toggle:hover {
    color: rgba(255, 255, 255, 0.826);
}

/* Style pour le menu mobile */
.mobile-nav {
    display: none; /* Masquer le menu mobile par défaut */
    flex-direction: column;
    position: absolute;
    top: 68px; /* Ajustez en fonction de la hauteur de votre header */
    right: 0;
    background-color: black;
    width: 45%;
    z-index: 1000;
}

.mobile-nav a {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Media Queries pour les petits écrans */
@media (max-width: 768px) {
    /* Masquer le menu desktop */
    header nav {
        display: none;
    }

    /* Afficher le bouton menu mobile */
    .mobile-menu-toggle {
        display: block;
    }

    /* Afficher le menu mobile lorsqu'il est ouvert */
    .mobile-nav.open {
        display: flex;
    }
}


.img-logo img {
    height : 300px;
    width: 97%;
    margin: 15px;
    border: 1px solid black;
    border-radius: 20px;
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.title {
    color: black;
    padding: 20px 0;
    text-align: center;
}

.title h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}



section.presentation {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section.presentation h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #006400;
}

section.presentation p, 
section.presentation ul {
    margin-bottom: 20px;
}

section.presentation ul {
    padding-left: 20px;
}

section.presentation ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}


footer {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {     
    border-bottom: 2px solid white; 
}

